.footer__div {
    background-color: $color-fondo;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer__span {
    padding-left: 2%;
    font-family: sans-serif;
    font-size: 1.5rem;
    color: $letras;

}

.redes__div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.redes__sociales {
    font-family: sans-serif;
    font-size: 1.5rem;
    color: $letras;
    display: flex;
    flex-direction: column;
    align-items: center;

}

footer div span {
    color: $letras;
    font-family: sans-serif;
    font-size: 1.5rem;
}
@media (min-width: 800px) { 
    .footer__div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

}