.btn__submit {
    text-align: center;
    font-size: 1rem;
    font-family: sans-serif;
    display: inline-block;
    padding: 15px 25px;
    cursor: pointer;
    color: black;
    background-color: #ffa602;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.btn__submit:hover {
    background-color: #ab7004;
}

.btn__submit:active {
    background-color: #ab7004;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}